@model List<SWMUFMWeb.Models.Cup>
@{
    Layout = "_ManagerLayout";
}
<h1>杯赛管理界面</h1>
<hr />

<h2>杯赛表</h2>
<table>
    <thead>
        <tr>
            <th>杯赛id</th>
            <th>杯赛名字</th>
            <th>是否完成</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CupId</td>
                <td>@Html.ActionLink(@item.CupName,"CupState",new{cupId=item.CupId})</td>
                <td>@if (item.IsOver == true) { @ViewBag.cupIsOver}else{@ViewBag.cupIsNotOver}</td>
            </tr>
        }
    </tbody>
</table>
<div style="margin:40px">
    @if (ViewBag.pageIndex <= 1)
    {
        @Html.ActionLink("上页","Cup")
        ;
    }
    else
    {
        @Html.ActionLink("上一页","Cup",new{pageIndex=ViewBag.pageIndex-1,pageSize=ViewBag.pageSize})
        ;
    }
    共 @ViewBag.totalPage 页，第<input style="width:25px" type="text" value="@ViewBag.pageIndex" name="pageIndex" />页
    @if (ViewBag.pageIndex >= ViewBag.totalPage)
    {
        @Html.ActionLink("下一页","Cup")
        ;
    }
    else
    {
        @Html.ActionLink("下一页","Cup",new{pageIndex=ViewBag.pageIndex+1,pageSize=ViewBag.pageSize})
        ;
    }
</div>
<hr />

<h2>添加杯赛信息</h2>
<form asp-action="InsertCup" method="post">
    <label>杯赛id</label>
    <input type="text" name="cupId" />
    <label>杯赛名字</label>
    <input type="text" name="cupName" />
    <label>是否结束</label>
    @Html.DropDownList("isOver",ViewBag.boolSelectList as SelectList,"选择状态",new{@class="downList"})
    <button type="submit">提交</button>
</form>

<hr />

<h2>修改杯赛信息</h2>
<form asp-action="UpdateCup" method="post">
    <label>杯赛id</label>
    <input type="text" name="cupId" />
    <label>杯赛名字</label>
    <input type="text" name="cupName" />
    <label>是否结束</label>
    @Html.DropDownList("isOver",ViewBag.boolSelectList as SelectList,"选择状态",new{@class="downList"})
    <button type="submit">提交</button>
</form>
<hr />

<h2>删除杯赛信息</h2>
<form asp-action="DeleteCupById" method="post">
    <label>杯赛id</label>
    <input type="text" name="cupId" />
    <button type="submit">提交</button>
</form>