@model SWMUFMWeb.Views.ViewModel.Match_Team
@{
    Layout = "_ManagerLayout";
}
<h1>修改此赛程结果</h1>
<hr />
<h2>赛程</h2>
<table>
    <thead>
        <tr>
            <th>赛程id</th>
            <th>比赛队伍1Id</th>
            <th>比赛队伍1</th>
            <th>比赛队伍2Id</th>
            <th>比赛队伍2</th>
            <th>比赛时间</th>
            <th>比赛地点</th>
            <th>所属联赛id</th>
            <th>所属杯赛id</th>
            <th>是否结束</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.match.MatchId</td>
            <td>@Model.match.TeamId1</td>
            <td>@Model.team1.TeamName</td>
            <td>@Model.match.TeamId2</td>
            <td>@Model.team2.TeamName</td>
            <td>@Model.match.MatchDate</td>
            <td>@Model.match.MatchPosition</td>
            <td>@Model.match.LeagueId</td>
            <td>@Model.match.CupId</td>
            <td>@if (Model.match.IsOver)
                {
                    @ViewBag.isOver
                }
                else
                {
                    @ViewBag.isNotOver
                }</td>
        </tr>
    </tbody>
</table>
<hr style="margin-top:30px"/>
<h2>此赛程的结果</h2>
<table>
<thead>
    <tr>
        <th>赛程Id</th>
        <th>获胜队伍</th>
        <th>球队1进球</th>
        <th>球队2进球</th>
        <th>球员进球</th>
        <th>球员助攻</th>
        <th>球员黄牌</th>
        <th>球员红牌</th>

    </tr>
</thead>
<tbody>
    <tr>
        <td>@Model.matchResult.MatchId</td>
        <td>@Model.matchResult.WinTeamId</td>
        <td>@Model.matchResult.Team1Goal</td>
        <td>@Model.matchResult.Team2Goal</td>
        <td>@Model.matchResult.PlayerIdGoal</td>
        <td>@Model.matchResult.PlayerIdAssists</td>
        <td>@Model.matchResult.PlayerIdYellowcard</td>
        <td>@Model.matchResult.PlayerIdRedcard</td>
    </tr>
</tbody>
</table>
<hr style="margin-top:30px"/>
<h2>修改比赛结果</h2>
<form asp-action="UMatchResult" method="post">
    <label>赛程Id</label>
    <input type="text" name="matchId" />
    <label>获胜队伍</label>
    <input type="text" name="winTeamId" />
    <label>球队1进球</label>
    <input type="text" name="team1Goal" />
    <label>球队2进球</label>
    <input type="text" name="team2Goal" />
    <br />
    <label>球员进球</label>
    <input type="text" name="playerIdGoal" />
    <label>球员助攻</label>
    <input type="text" name="playerIdAssists" />
    <label>球员黄牌</label>
    <input type="text" name="playerIdYellowcard" />
    <label>球员红牌</label>
    <input type="text" name="playerIdRedcard" />
    <button type="submit" name="resultId" value="@Model.matchResult.ResultId">提交</button>
</form>